.side-bar {
    background-color: black;
    height: 100vh;
    display: inline-block;
    color: rgb(134, 136, 148);
    z-index: 10;
    position: fixed;
    left: 0;
    min-width: fit-content;
    transition: all 0.5s linear;
  }
  
  @media (max-width: 1000px){
    .side-bar {display: none};
  }
  
  .sidebar-list {
    height: 260px;
    font-weight: 400;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  
  ::-webkit-scrollbar {
    height: 0px;
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #161616;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888;
  }