.artist-page-bg img{
top: 0;
right:20px;
border: 15px solid rgba(255, 255, 255, 0.534);
box-shadow: 0 0 15px 15px rgba(128, 128, 128, 0.281);
width:300px;
height:auto;
margin:50px;
position: absolute;
object-position: 50% 0%;
min-height: 500px;
z-index: 0;
object-fit: cover;
}

.artist-info span:nth-of-type(2){
    font-size: 20px;
}

.verified-icon{
font-size: 35px;
color: rgb(46,119,208);
position: relative;
}

.verified-icon::after{
    content: "";
    background-color: white;
    top:22%;
    left:12%;
    width: 55%;
    height:50%;
    border-radius: 50%;
    position: absolute;
    z-index:-1;
}


.artist-info {
   top:-50px;
    left:10px;
    color:white;
    z-index: 0;
    position: absolute;
    left:5%;
    margin-top: 15%;
}


.artist-info h1{
    font-size: 80px;
}


/* song and playlist section lower part */
.artist-page-songLists{
    margin: 0;
    margin-top: 40vh;
    width: 100%;
    background: rgb(18,18,18);
    background: linear-gradient(0deg, rgba(18,18,18,1) 0%, rgba(18,18,18,1) 68%, rgba(18,18,18,1) 87%, rgba(21,21,21,1) 92%, rgba(54,54,54,1) 95%, rgba(80,80,80,1) 98%);
    padding-bottom: 150px;
    z-index: 0;
}

.main-list {
    padding-right: 0px!important;
    padding-left: 0px!important;
    overflow-x: hidden;
}

.artist-page-songLists .playbtn-1{
    color:rgb(85,186,85);
    font-size: 70px;
    position: relative;
    z-index: 0;
}

.artist-page-songLists .playbtn-1::after{
    content: "";
    width: 65%;
    height: 45%;
    top:24%;
    left: 10%;
    background-color: white;
    border-radius: 40%;
    position: absolute;
    z-index: -1;
}

.artist-page-songLists table{
    color: (206, 205, 205)rgb;
    font-size: 15px;
    align-items: left;
    column-width:40% ;
}

.artist-page-songLists tr td{
   align-items: center;
    text-align: left;
}

.artist-page-songLists tr td:nth-of-type(5) i{
    color:white;
    opacity:0;
}


.artist-page-songLists tr td:nth-of-type(3) div{
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;

}


.artist-page-songLists tr td div{
    display: flex;
    align-items: center;
    height:50px;
   justify-content: baseline;
}

.post-by-img{
    max-width:30px;
    height: auto;
    overflow:hidden;
    border-radius:50%;
    display: inline-block;
    
}

.artist-page-cards .card{
    min-height: 250px;
    margin: 0;
    padding:15px;
    background:rgb(22, 22, 22);
    position:relative;

}

.artist-page-cards .card i{
color: rgb(25, 175, 75);
position: absolute;
opacity:0;
z-index: 4;
right:10%;
bottom:50%;
}

.artist-page .card-img{
    box-shadow: 5px 5px 5px 5px black;
}


/* hover */
 .artist-page-songLists tr:hover {
    background-color:rgba(111, 112, 112, 0.432);
} 



.artist-page-songLists tr:hover td>div>a>i{
    opacity:1;
}

.artist-page .card:hover{
    background-color: rgb(41, 41, 41);
}

.artist-page .card:hover i{
  opacity:1;
    }
